#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px 20px;
  text-align: center;
}

body {
  font-family: "Comic Sans MS";
}

.nabla-uni {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "EDPT" 152, "EHLT" 12;
}
